#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* For Medium Mobile Phones */
@media (min-width: 375px) {}

/* For Large Mobile Phones & Tablets */
@media (min-width: 768px) {}

/* For Laptops */
@media (min-width: 1200px) {}

/* For Large screens */
@media (min-width: 1440px) {}