#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* For Small Mobile Phones */
@media (min-width: 375px) {}

/* For Medium Mobile Phones */
@media (min-width: 768px) {}

/* For Tablets & Laptops */
@media (min-width: 1200px) {}

/* For Large screens */
@media (min-width: 1440px) {}