.jumbotron__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.jumbotron__image {
    background-image: url('./assets/images/main-image-xs.png');
    height: auto;
}

/* For Medium Mobile Phones */
@media (min-width: 576px) {}

/* For Large Mobile Phones & Tablets */
@media (min-width: 768px) {}

/* For Laptops */
@media (min-width: 992px) {}

/* For Large screens */
@media (min-width: 1200px) {}