.secondary-color__button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    padding: 12px 20px;

    background-color: #F28D35;
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 14px;
    font-weight: 700;
}

.secondary-color__button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.4s;
}